PORT=4000
BACKEND_HOST=0.0.0.0
CORS_ORIGIN=http://localhost:3000
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_ADMIN_KEY=
NEXT_PUBLIC_DEFAULT_SUPABASE_URL_BASE64=
NEXT_PUBLIC_DEFAULT_SUPABASE_KEY_BASE64=
OBJECT_STORAGE_TYPE=r2
R2_ACCOUNT_ID=
R2_REGION=auto
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
S3_ENDPOINT=
S3_REGION=auto
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
TEMP_STORAGE_PUBLIC_BUCKET_NAME=
READEST_PUBLIC_STORAGE_BASE_URL=
STORAGE_FIXED_QUOTA=0
TRANSLATION_FIXED_QUOTA=0
DEEPL_FREE_API_KEYS=
DEEPL_PRO_API_KEYS=
DEEPL_FREE_API=https://api-free.deepl.com/v2/translate
DEEPL_PRO_API=https://api.deepl.com/v2/translate
DEEPL_X_FINGERPRINT=
PROTOCOL=http
HOST=localhost:4000
